.modalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  min-width: 800px;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeInDown 0.8s;
}

button {
  background-color: transparent;
  color: #505050;
  border: none;
  font-size: 24px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Delete branch component*/

.form {
  background-color: white;
  border-radius: 10px;
  min-height: 100px;
  width: 500px;

  display: flex;
  flex-direction: column;
}

.confern-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnClose {
  background-color: transparent;
  color: #505050;
  border: none;
  font-size: 24px;
  float: right;
  margin: 10px;
  cursor: pointer;
}

.close-button-wrapper {
  width: 100%;
  background-color: black;
}

.delete-button {
  color: #fff;
  background: #ff3939;
  border-color: transparent;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

/*Delete branch component*/

.btnClose {
  cursor: pointer;
}
